.link_group {
    margin:20px auto;
    width:555px;
    text-align:center;
}
.link_group a {
    margin:0 20px;
    padding:5px 15px;
    color:#000;
    font-weight:bold;
    display:inline-block;
    vertical-align:top;
    *display:inline;
    *zoom:1;
    position:relative;
    text-decoration:none;
    text-transform:uppercase;
    border:1px solid #ccc;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.link_group a:hover {
    color:#cc0000;
}




.popup {
    padding:5px 15px 15px;
    position:fixed;
    top:100px;
    left:50%;
    display:none;
    overflow:hidden;
    border:1px solid #ccc;
    background:#fff;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    z-index:100;
}
.popup h2 {
    font:bold 18px/32px Arial, san-serif;
}
.popup a.close {
    width:16px;
    height:16px;
    display:block;
    text-indent:-9999px;
    position:absolute;
    top:10px;
    right:10px;
    background-image: url("images/close.png");
}



.reg_form, .log_in_form {
    margin-left:-200px;
    width:400px;
}

.reg_form input[type=text], .reg_form input[type=password], .reg_form input[type=email], .log_in_form input[type=text], .log_in_form input[type=password] {
    margin-bottom:10px;
    padding:0 3px;
    width:274px;
    height:22px;
    font:bold 12px/26px Arial, san-serif;
    border:1px solid #ccc;
}
.reg_form input[type=submit], .log_in_form input[type=submit] {
    margin:10px 15px 0 0;
    padding:3px 10px;
    float:right;
    background:#ccc;
    border:0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font:bold 10px Arial, san-serif;
    text-transform:uppercase;
    position:relative;
    cursor:pointer;
}
.reg_form input[type=submit]:hover, .log_in_form input[type=submit]:hover {
    color:#fff;
}







#overlay {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    display:none;
    background:#000;
    opacity:.8;
}